@model prjAjaxHW.Models.Member

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" value="5"/>
                <span asp-validation-for="MemberId" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="txt1" />
                <span asp-validation-for="Name" class="text-danger" id="span1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="travel" class="btn btn-danger">取消</a>  <input type="submit" value="Create" class="btn btn-primary"  id="btn"/>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    <script>

        let btn = document.querySelector('#btn');
        let txt1 = document.querySelector('#txt1');
        let span1 = document.querySelector('#span1');
        var xhr=new XMLHttpRequest();

        xhr.addEventListener("load",()=>{
            var data =xhr.responseText; //接收資料
            span1.innerHTML=`<p>${data}</p>`;
        })

        xhr.addEventListener("loadend",()=>{
            var data = xhr.responseText; //接收資料
            if(data=="OK"){
                btn.removeAttribute('disabled');
            }else{
                btn.setAttribute('disabled', 'disabled');
            }
        })

        txt1.addEventListener("blur", () => {
            xhr.open("GET", `/API/index?name=${txt1.value}`);
            xhr.send();
        })
        //txt1.addEventListener("blur",()=>{
        //    xhr.open("POST", `/API/index`);
        //    xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        //    xhr.send(`name=${txt1.value}`);
        //})


    </script>
}
